//------------------------------------------
// ・各フォルダのファイルをstyle.scssに集約する。
// 　ページごとのフォルダを作成した場合、
// ・「@use './フォルダ名' as *;」という形式で追加していく。
// ・実際に存在しないフォルダ名を書くと、scssがコンパイルされないので注意する。
// ・パーシャルファイルを保存してもコンパイルされない。
// 　コンパイルさせるには、このファイル（style.scss）を保存する
//------------------------------------------

// ベース・リセットCSS
@use './base/base';
@use './base/reset';

// 変数・mixinなど共通で使用する（スタイルを生成しないもの）CSS
@use './global' as *;

// 各ページのCSSを指定する
@use './module' as *;

// 微調整用CSS
@use './page' as *;
