@use 'sass:math';
//---------------------------
// インナー幅設定
//---------------------------
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1300px;
// ※キャンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;
// ※PC時：デザインカンプの余白の幅ではない。PC時は通常25pxでOK。

//---------------------------
// フォントの種類
//---------------------------
$gen: 'source-han-sans-japanese', '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Verdana, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; // Adobe Fonts | 源ノ角ゴシック JP

//---------------------------
// 文字の太さ
//---------------------------
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

//---------------------------
// 色（同型色が複数ある場合は『$色_#xxxxxx』のように指定）
//---------------------------
$white: #ffffff;
$gray_f2f2f2: #f2f2f2;
$black_171717: #171717;
$green_6db41c: #6db41c;
$yellow_f1cf00: #f1cf00;
$red_be0000: #be0000;

//ブレイクポイント
$breakpoints: (
  sm: 375,
  md: 768,
  lg: 1440,
  xl: 1920
);

//メディアクエリー
$mediaquerys: (
  sm: "screen and (max-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (max-width: #{map-get($breakpoints,'xl')}px)"
);

// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}

// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}

// px → remへと変換し、最小値12pxを設ける
@function maxrem($pixels) {
  @return max(math.div($pixels, 16) * 1rem, 12px);
}
