@use '../global' as *;

/* ------------------------ */
/* 固有のフォント設定 */
/* 共通パーツで設定すると不便な場合、こちらに設定する */
/* ------------------------ */

/* ---------- 2行目から先頭1文字開けて表示される（※、・が先頭に記載されているときに使用） ここから ---------- */

.text-wrap {
  padding-left: 1em;
  text-indent: -1em;
}
/* ---------- 2行目から先頭1文字開けて表示される（※、・が先頭に記載されているときに使用） ここまで ---------- */
