@use '../global' as *;

.body-bg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: clip;
}

.body-bg__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0);
  z-index: -10;
}

.body-bg__img::before {
  content: '';
  position: fixed;
  inset: 0;
  // background-color: $blue_2cbedb;
  width: 100%;
  height: 100%;
  z-index: -9;
}

.body-bg__img::after {
  content: '';
  position: fixed;
  inset: 0;
  background-image: url(../../assets/images/common/bg-sp.webp);
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 100%;
  z-index: -8;

  @include mq('md') {
    background-image: url(../../assets/images/common/bg-pc.webp);
  }
}
