@use '../global' as *;

// 「 rem(strip-unit($padding-sp)) 」にすることで、pxではなくremで出力される

.inner {
  width: 100%;
  max-width: rem(strip-unit($inner)) + rem(strip-unit($padding-pc)) * 2;
  padding-right: rem(strip-unit($padding-pc));
  padding-left: rem(strip-unit($padding-pc));
  margin-right: auto;
  margin-left: auto;
  @include mq('md') {
    padding-right: rem(strip-unit($padding-sp));
    padding-left: rem(strip-unit($padding-sp));
  }
}
