@use '../global' as *;

.sample {
  position: relative;
  padding-block: 6.25rem;
}

.sample.sample--02 {
  padding-block: 10rem;
  height: 500px;
}

.sample.sample--02::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #a8fff2;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sample__inner {
  padding-inline: 20px;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;

  @media screen and (max-width: 768px) {
    max-width: 540px;
  }
}

.sample__text01 {
  font-size: 2rem;
  color: #be0000;
}

.sample__box {
  padding: 50px 20px;
}

.sample__wrapper {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
  padding: 50px;
}

.sample__img {
  max-width: 500px;
  width: 100%;
  margin-inline: auto;
}

.sample__img img {
  width: 100%;
  aspect-ratio: 700 / 450;
  object-fit: cover;
}
