@use '../global' as *;

/* ---------- なみなみ背景 | ここから ---------- */
.wave-bg {
  --_mask-height: 6.25rem;

  position: relative;

  /* なみなみ背景の余白 */
  margin-block: calc(var(--_mask-height) * -1);
  padding-block: var(--_mask-height);

  /* デコレーション背景 */
  background-image: url(../../assets/images/common/bg-deco-sp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;

  /* 上の波 + 中央 + 下の波 */
  mask-image: url(../../assets/images/common/bg-wave-01.png), linear-gradient(#fff 0 0), url(../../assets/images/common/bg-wave-02.png);
  mask-size: 100% var(--_mask-height), 100% calc(100% - var(--_mask-height) * 2), 100% var(--_mask-height);
  mask-repeat: repeat-x, no-repeat, repeat-x;
  mask-position: top center, center, bottom center;

  @include mq('md') {
    background-image: url(../../assets/images/common/bg-deco-pc.png);
  }
}

// フッター用（上：なみなみ あり、下：なみなみ なし）
.wave-bg-footer {
  --_mask-height: 6.25rem;

  position: relative;

  /* なみなみ背景の余白 */
  margin-top: calc(var(--_mask-height) * -1);
  padding-top: var(--_mask-height);
  padding-bottom: 0;

  /* デコレーション背景 */
  background-image: url(../../assets/images/common/bg-deco-sp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;

  /* 上の波 + 中央 */
  mask-image: url(../../assets/images/common/bg-wave-01.png), linear-gradient(to bottom, transparent var(--_mask-height), #fff 0);
  mask-size: 100% var(--_mask-height), 100% 100%;
  mask-repeat: repeat-x, no-repeat;
  mask-position: top center, top center;

  @include mq('md') {
    background-image: url(../../assets/images/common/bg-deco-pc.png);
  }
}

/* ---------- なみなみ背景 | ここまで ---------- */

/* ---------- なみなみ背景『wave-bg』が付与された要素（セクション）の上下に余白を追加する | ここから ---------- */
.wave-bg-mt-top {
  margin-top: rem(80);
}

.wave-bg-mt-bottom {
  margin-bottom: rem(80);
}

.wave-bg-mt-block {
  margin-block: rem(80);
}

/* ---------- なみなみ背景『wave-bg』が付与された要素（セクション）の上下に余白を追加する | ここまで ---------- */
